body {
    background-color: #122b39;
    max-width: 400px;
    margin: auto;
}

h1 {
    color: rgb(212, 204, 204);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    color: #f4c245;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.chart {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 390px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-style: solid;
}

.chart1 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 390px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: #122b39;
    border-style: solid;
    border-color: #122b39;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    width: 170px;
    margin: auto;
    margin-top: 30px;
    padding-top: 40px;
}

.button_su {
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
}

.button_su_inner {
    display: inline-block;
    background: #F8B627;
    color: Black;
    font-size: 16px;
    font-weight: normal;
    width: 132px;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 22px;
    z-index: 100000;
}

.button_text_container {
    position: relative;
    z-index: 10000;
}