body {
    background-color: #122b39;
    max-width: 450px;
    margin: auto;
}

h1 {
    color: rgb(212, 204, 204);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    color: #f4c245;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.chart {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 390px;
    border: #4B0082 solid 3.5px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    width: 176px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
}

.button_su {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 30px;
}

.su_button_circle {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
}

.button_su_inner {
    display: inline-block;
    background: #F8B627;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: normal;
    width: 132px;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 22px;
    z-index: 100000;
}